.bp_TitleBar {
    background-color: #373737;
    flex-direction: row;
    padding: 9px 0px 9px 12px;
}

.AppControls-button {
    border-radius: 14px !important;
    padding: 0 !important;
    height: 14px !important;
    width: 14px !important;
    margin: 0 7px 0 0;
}

.AppControls-close {
    order: 1;
}

.AppControls-minimize {
    order: 2;
}

.AppControls-maximize {
    order: 3;
}

.AppControls-close , .AppControls-close:hover{
    background-color: #e9524a;
}

.AppControls-minimize , .AppControls-minimize:hover{
    background-color: #f1ae1b;
}

.AppControls-maximize , .AppControls-maximize:hover{
    background-color: #59c837;
}

.AppControls-button svg {
    visibility: hidden;
}
