.onagre {
    --exit-unfocused: true;
    background: #1f1f1f;
    color: #dfdfdf;
    // --icon-theme: "Custom";
    --icon-size: 52;
    border-radius: 8%;
    border-color: #1f1f1f;
    border-width: 12px;
    padding: 12px;
    height: 860px;
    width: 700px;

    .container {
        padding: 0px;
        .rows {
            --height: fill-portion 10;
            .row {
                --width: 692;

                .icon {
                    padding-top: 4px;
                }

                .category-icon {
                    padding-left: 0px;
                    --icon-size: 0;
                }

                .title {
                    font-size: 28px;
                }

                .description {
                    font-size: 20px;
                }
            }

            .row-selected {
                --width: 692;
                border-radius: 8%;
                background:  #0270ff;

                .icon {
                    padding-top: 4px;
                }

                .category-icon {
                    padding-left: 0px;
                    --icon-size: 0;
                }

                .title {
                    font-size: 28px;
                }

                .description {
                    font-size: 20px;
                }
            }
        }

        .search {
            border-radius: 5%;
            background: #414141;
            --height: fill-portion 1;
            padding: 4px;
            .input {
                font-size: 28px;
            }
        }

        .scrollable {
            width: 0px;
            border-radius: 5%;
            border-width: 0px;
            background: #1f1f1f00;
            .scroller {
                width: 7px;
                color: #a1a1a1;
            }
        }
    }
}
